#hideAll
 {
   position: fixed;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */

 }
 
.table-cell{
  color: #212529;
}

.table-cell div{
  height:100%;
  width:100%;
}

.table-cell:hover{
  color: #212529;
}

.page-item.active .page-link
{
    z-index: 1;
    color: #b85507;
    border-color: rgba(212, 236, 242, 0.9);
    background: linear-gradient(to bottom, rgba(146, 206, 221, 0.9) 0,rgba(212, 236, 242, 0.9) 100%) no-repeat;

}
.fixed-table-pagination,
.fixed-table-pagination .btn
{
    font-size: 12px;
}
.fixed-table-pagination .btn
{
    padding: 3px 10px !important;
}
.fixed-table-pagination .pagination-detail,
.fixed-table-pagination .pagination
{
   margin: 0 !important;
}
.fixed-table-pagination a{
  color: #2F3944;
}

.fixed-table-pagination a:hover{
  color: #2F3944;
  background-color: #fcc8ad;

}

.table-hover tbody tr:hover {
    color: #b85507 !important;
    background-color: rgba(255, 170, 128, 0.4);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url("/css/images/vmenuhovereditem.png");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

.table-hover tbody tr:hover > td::before {
    /* content: url('/css/images/vmenuhovereditemicon.png'); */
    margin-right: 7px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.table-hover tbody tr:hover td{
    color: #b85507 !important;
}

.bootstrap-table .fixed-table-container .table th, .bootstrap-table .fixed-table-container .table td {
    padding: 0 15px;
    margin: 0 auto;
    font-size: 18px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color:#213347;
    min-height: 30px;
    line-height: 1.5em!important;
}

table, ul.art-hmenu {
    cursor:pointer;
}

input{
    padding: 4px 6px !important;
}

.bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
    background: rgba(247, 247, 248, 0.5);
}
#table-list td:first-child::before{
    content: url('/css/images/vmenuitemicon.png');
    margin-right: 7px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}
#table-list tr:hover td:first-child::before {
    content: url('/css/images/vmenuhovereditemicon.png');
}

#table-list tbody tr td {
  padding-top: 2px;
  padding-bottom: 2px;
  font: 14px Verdana;
}

.bootstrap-table .fixed-table-container .table thead th {
    color: rgb(168, 56, 0);
    background-color: rgba(209,217,225,0.5);
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
}

.bootstrap-table .fixed-table-container .table th, .bootstrap-table .fixed-table-container .table td{
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
}

.bootstrap-table .fixed-table-pagination{
    background-color:#e6eaee;
    padding-left: 20px;
    padding-right: 20px;
}

.sortable {
  background-position: 3em 3em;
}
