.art-article th, .art-article td {
    border: solid 1px #B7C2CD;
    vertical-align: top;
    text-align: left;
}

.art-postmetadataheader{
    background: none;
    border-bottom: none;

}
.art-postheader{
    text-align:left;
}

#table-diagnosis .active {
    background-color: rgba(255, 228, 214, 0.8) !important;
}

#table-diagnosis tr:nth-child(odd) {
    background-color: rgb(242, 250, 253);
}

#select-patient-error{
    display: none;
}
#del-confirmation{
    display:none;
}
.modal-footer .confirm-delete {
    float: none;
    color:black;
    font-size: 18;
    font-weight: normal;
}
.confirm-delete:hover, .confirm-delete:focus {
    text-decoration: none;
    cursor: pointer;
}
/*.art-layout-cell{
    vertical-align: middle;
}*/
.info{
    background-color: #f2fafd;
}

.use-program{
    cursor: pointer;
}

.free-text{
    cursor: pointer;
}

.inner-panel {
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 7px;
}

.main-header {
    color: #111418;
    margin: 5px 10px;
    font-size: 2em;
    font-weight: normal;
    font-style: normal;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    text-shadow: 0 1px 3px rgba(145, 50, 3, 0.85);
}

.main-header::before {
    content: url(../../img/records_cabinet/header-icon.png);
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto;
}

.input-group {
    display: flex;
    align-items: stretch;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #9FB4CB;
    overflow: hidden;
}

.input-group>.label {
    flex: 1 0 0;
    padding: 14px;
    background: #E4EAF1;
}

.input-group>.input {
    flex: 6 0 0;
    background: #F5F7FA;
    border: 0 none;
    outline: none;
}

.input-group>div.input>* {
    margin: 0 10px;
}

.required::before {
    content: '*';
    color: red;
}

.input-group>div.input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 7px;
}

.form-wrapper>form>* {
    margin: 20px 0;
}

.form-wrapper {
    margin: 10px;
}

.buttons-wrapper {
    margin-top: 50px !important;
    display: flex;
    justify-content: center;
}

.buttons-wrapper>a {
    margin-left: 30px;
}

.buttons-wrapper>* {
    text-decoration: none;
    font-size: 1em;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #000000;
    overflow: visible;
    cursor: pointer;
    text-indent: 0;
    line-height: 31px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 4px;
    border: 1px solid rgb(116, 147, 180);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
    padding: 0 10px;
    width: 85px;
    height: 31px;
    background-image: linear-gradient(rgb(223, 230, 231) 0px, rgb(226, 232, 233) 40%, rgb(226, 232, 233) 85%, rgb(202, 214, 216) 100%);
}
.buttons-wrapper > a:hover, .buttons-wrapper > button:hover {
    color: #802A00;
    background: linear-gradient(to bottom, #E8E8E8 0, #EBEBEB 40%, #EBEBEB 85%, #D4D4D4 100%) no-repeat;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #FF661A;
}
.buttons-wrapper > a:active, .buttons-wrapper > button:active {
    background: linear-gradient(to bottom, rgba(255, 197, 168, 0.6) 0, rgba(255, 201, 173, 0.6) 40%, rgba(255, 201, 173, 0.6) 85%, rgba(255, 173, 133, 0.6) 100%) no-repeat;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(255, 143, 87, 0.6);
    color: #000000;
    outline: none;
}

.heading-ticket {
    font-size: 1em;
    padding: 25px;
    border: 1px solid #9FADBC;
    background: rgba(228, 232, 236, 80);
    border-radius: 5px;
}

.inputs-wrapper {
    display: flex;
    align-items: stretch;
}

.inputs-wrapper>.icd {
    width: 30%;
}

.inputs-wrapper>.diagnosis {
    width: 70%;
}

.inputs-wrapper>* {
    margin: 10px;
}

.inputs-wrapper input, .inputs-wrapper textarea {
    width: 100%;
    font-size: 1.3em;
}

.custom-inputs-wrapper {
    padding: 0 0px;
}

.custom-inputs-wrapper>.input-group {
    margin: 20px 0;
}

@media (max-width: 530px) {
    .input-group {
        flex-direction: column;
    }

    .input-group>.label {
        border-bottom: 1px solid #9FB4CB;
    }

    .input-group>* {
        width: 100% !important;
        flex: 1 0 50px;
    }

    .inputs-wrapper {
        flex-direction: column;
    }

    .inputs-wrapper>div {
        width: 100% !important;
    }

    .input-group>div.input {
        display: block;
    }
}

@media (min-width: 531px) {
    .input-group>.label {
        border-right: 1px solid #9FB4CB;
    }
}
.use-program-edit{
    cursor: pointer;
}
.free-text-edit{
    cursor: pointer;
}

.responsive .art-content-layout.dc-art-content-layout {
    display: table;
}

.responsive .dc-art-content-layout .art-content-layout-row {
    display: table-row;
}

.responsive .art-content-layout.dc-art-content-layout .responsive-tablet-layout-cell {
    display: table-cell;
    float: none;
}

.responsive .art-content-layout.dc-art-content-layout .responsive-tablet-layout-cell.layout-item-2 {
    width: 92% !important;
}

.responsive .art-content-layout.dc-art-content-layout .responsive-tablet-layout-cell.layout-item-3 {
    width: 8% !important;
}

.add-edit-diagnosis-modal-content input[type=text]{
    padding-left: 5px;
    padding-right: 5px;
}

.add-edit-diagnosis-modal-content textarea {
    padding-left: 5px;
    padding-right: 5px;
    height: 34px;
    max-width: 100%;
}