.checker-wrapper {
    margin-top: 15px;
}

.checker-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.checker-list li {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #213347;
    min-height: 30px;
    line-height: 30px;
}

.checker-list li:before {
    content: url(images/vmenuitemicon.png);
    margin-right: 7px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.checker-table {
    width: 100%;
}

.checker-table th, .checker-table td {
    vertical-align: top;
    text-align: left;
    padding: 10px 15px;
}

.checker-table th {
    background: #f4f4f4;
}

.checker-table th:first-of-type, .checker-table td:first-of-type {
    border-right-style: solid;
}

.autocomplete-suggestions {

    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.checker-buttons {
    padding: 0 15px;
    margin-top: 30px;
    text-align: right;
}


.checker-diagnosis-weight-list-item {
    margin: 15px 0 ;
}

#symptom-add-block {
    display: flex;
    justify-content: space-between;
}

#symptom-add-block input[type=text] {
    width: 230px;
    padding-left: 8px;
    padding-right: 8px;
}

.checker-beta {
    margin-top: 15px;
}

.checker-beta img {
    width: 60px;
}

.checker-results a {
    color: #213347;
    text-decoration: none;
}

.checker-results a:hover, .checker-results a:focus {
    color: #933100;
    text-decoration: underline;
}