.art-content .art-postcontent-0 .layout-item-0 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.art-content .art-postcontent-0 .layout-item-1 {
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
    border-width:0px;
    border-color:#9DACBB;
    color: #0F1216;
    background: ;
    border-spacing: 25px 0px;
    border-collapse: separate;
    border-radius: 10px;
}
.art-content .art-postcontent-0 .layout-item-2 {
   border-top-style:solid;
   border-right-style:solid;
   border-bottom-style:solid;
   border-left-style:solid;
   border-width:1px;
   color: #0B0D0F;
   background: #F7F7F8;
   background: rgba(247, 247, 248, 0.5);
   padding: 10px;
   vertical-align: middle;
   border-radius: 10px;
   border-color: #b0edff !important;
 }
 .art-content .art-postcontent-0 .layout-item-2:hover{
     border-color: #FF8F57 !important;
 }
.art-content .art-postcontent-0 .layout-item-3 {
  border-top-style:solid;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-style:solid;
  border-width:0px;
  border-color:#9DACBB;
  color: #0F1216; background: ;
  border-spacing: 10px 0px;
  border-collapse: separate;
  border-radius: 10px;
}
.art-content .art-postcontent-0 .layout-item-4 {
  border-top-style:solid;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-style:solid;
  border-width:0px;
  border-top-color:#87A2BF;
  border-right-color:#87A2BF;
  border-bottom-color:#87A2BF;
  border-left-color:#87A2BF;
  color: #0F1216;
  background: ;
  padding: 3px;
  vertical-align: middle;
  border-radius: 10px;
}
.art-content .art-postcontent-0 .layout-item-5 {
  border-top-width:2px;
  border-top-style:solid;
  border-top-color:#28394B;
  margin-top: 10px;
  margin-bottom: 20px;
}
.art-content .art-postcontent-0 .layout-item-6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.art-content .art-postcontent-0 .layout-item-7 {
  border-top-style:solid;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-style:solid;
  border-width:1px;
  border-color:#9DACBB;
  color: #0F1216;
  background: ;
  border-spacing: 0px 10px;
  border-collapse: separate;
  border-radius: 10px;
}
.art-content .art-postcontent-0 .layout-item-8 {
  color: #0F1216;
  background: ;
  padding: 3px;
  vertical-align: top;
  border-radius: 10px;
}
.art-content .art-postcontent-0 .layout-item-9 {
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
}
.ie7 .art-post .art-layout-cell {
  border:none !important;
  padding:0 !important;
}
.ie6 .art-post .art-layout-cell {
  border:none !important;
  padding:0 !important;
}
.matrix-font{
    font-size: 14px;
    font-family: Tahoma;
    font-weight: bold;
    color: rgb(40, 57, 75); 
}

.link-list{
    text-decoration: none;
}
.link-list:hover{
    text-decoration-line: underline;
}

html body .art-postcontent div.cluster-tile {
  height: 100px!important;
}

@media (max-width: 1000px) {
  .layout-item-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
}

.th-inner {
  font: 14px Verdana;
  font-weight: bold;
}