.art-content .art-postcontent-0 .layout-item-0 {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
}

.art-content .art-postcontent-0 .layout-item-1 {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: rgba(206, 243, 243, 0.5);
    color: #0B0D0F;
    background: #FFE4D6;
    background: rgba(206, 243, 243, 0.5);
    border-spacing: 10px 10px;
    border-collapse: separate;
    border-radius: 5px;
}

.art-content .art-postcontent-0 .layout-item-2 {
    border-top-width: 1px;
    border-top-style: Dotted;
    border-top-color: #F0F1FA;
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-left: 50px;
}

.art-content .art-postcontent-0 .layout-item-3 {
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-color: #CAD6E2;
    border-bottom-color: #CAD6E2;
    color: #0B0D0F;
    background: #FFFFFF;
    padding: 3px;
    vertical-align: top;
    border-radius: 3px;
}

.art-content .art-postcontent-0 .layout-item-4 {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.art-content .art-postcontent-0 .layout-item-5 {
    border-style: Solid;
    border-width: 0px;
    border-color: #AAD8E4;
    color: #C1C9D1;
    background: #404040;
    border-collapse: separate;
    border-radius: 5px;
}

.art-content .art-postcontent-0 .layout-item-6 {
    border-style: Solid;
    border-width: 1px;
    border-color: #98AFC8;
    color: #0B0D0F;
    background: #FFFFFF;
    padding: 2px;
    vertical-align: top;
    border-radius: 5px;
}

.art-content .art-postcontent-0 .layout-item-7 {
    margin-top: 50px;
}

.art-content .art-postcontent-0 .layout-item-8 {
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 2px;
    border-color: #8799AB;
}

.art-content .art-postcontent-0 .layout-item-9 {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #9FB4CB;
    margin-top: 20px;
    margin-bottom: 5px;
}

.ie7 .art-post .art-layout-cell {
    border: none !important;
    padding: 0 !important;
}

.ie6 .art-post .art-layout-cell {
    border: none !important;
    padding: 0 !important;
}

.art-article-title {
    margin: 12px 0;
    font-family: Verdana;
    font-variant: small-caps;
    text-align: center;
    font-size: 20px;
    color: rgb(41, 14, 0);
    text-shadow: rgb(97, 32, 0) 1px 0px 0px;
}

.art-article th {
    padding: 10px 3px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #455463;
    font-size: 14px;
    background-color: rgba(230, 234, 238, 0.9);
}

.art-article td {
    padding: 3px;
    font-family: Tahoma;
    font-size: 13px;
}

.art-article .sigma-art-article-cell-patient, .art-article .sigma-art-article-cell-link, .art-article .sigma-art-article-cell-icd-code {
    text-align: left;
}

.sigma-art-article-cell-number {
    width: 5%;
}

.sigma-art-article-cell-patient, .sigma-art-article-cell-icd-code {
    width: 11%;
}

.sigma-art-article-cell-dx {
    width: 40%;
}

.sigma-art-article-cell-assigned {
    width: 10%;
}

.sigma-art-article-cell-updated {
    width: 15%;
}

.sigma-art-article-cell-link {
    width: 66%;
}

.art-article td.text-center {
    text-align: center;
}

.art-article-dark {
    width: 959px;
}

.art-article-dark th {
    background: rgba(25, 25, 25, 0.9);
    color: #b6dde8;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: windowtext;
}

.art-article-dark td {
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: windowtext;
    background: #404040;
    color: #fff;
    font-size: 12px;
}

.art-article-dark td a, .art-article-dark td a, .art-article-dark td a, .art-article-dark td a:link {
    color: #fff !important;
}
.art-article-dark td a:hover {
    color: #e5b8b7 !important;
}

.col-sort-desc:after, .col-sort-asc:after {
    border: 6px solid transparent;
    content: "";
    display: inline-block;
    margin-left: 5px;
    height: 0;
    width: 0;
    vertical-align: middle;
}

.col-sort-asc:after {
    margin-top: -7px;
    border-bottom-color: #666;
}
.col-sort-desc:after {
    border-top-color: #666;
    margin-top: 5px;
}

.art-article tr.selected {
    background: rgba(255, 228, 214, 0.8) !important;
}

@media all and (max-width: 999px) {
    .art-article-wrapper {
        overflow-x: auto;
    }

    .art-article th {
        white-space: nowrap;
        padding-left: 15px;
        padding-right: 15px;
    }
}

#results_table {
    width: 100%;
}