* {
   box-sizing: border-box;
}

#art-main
{
   background: #FFFFFF;
   margin:0 auto;
   font-size: 16px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
   line-height: 125%;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.art-hmenu
{
   font-size: 16px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
   line-height: 125%;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags.
 * border-collapse should be separate for shadow in IE.
 */
.art-button
{
   border-collapse: separate;
   -webkit-border-radius: 0;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #FFFFFF;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #D1D1D1 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #D1D1D1 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #D1D1D1 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #D1D1D1 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #D1D1D1 100%) no-repeat;
   background: linear-gradient(to bottom, #FFFFFF 0, #D1D1D1 100%) no-repeat;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   border:1px outset #819DBB;
   padding:0 5px;
   margin:0 auto;
   height:20px;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent,
ul.art-vmenu a
{
   text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   letter-spacing: 1px;
   line-height: 150%;
}

.art-postcontent p
{
   margin: 12px 0 12px 5px;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover,
.art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-size: 32px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.art-postcontent a, .art-postcontent a:link
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   letter-spacing: 1px;
   color: #772800;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   letter-spacing: 1px;
   color: #FF5F0F;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   letter-spacing: 1px;
   color: #772800;
}

.art-postcontent h1
{
   color: #5E7387;
   margin: 10px 0 0;
   font-size: 30px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 30px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited
{
   font-size: 30px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h2
{
   color: #778CA1;
   margin: 10px 0 0;
   font-size: 28px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 28px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited
{
   font-size: 28px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h3
{
   color: #FF6619;
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited
{
   font-size: 26px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h4
{
   color: #425D7A;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited
{
   font-size: 18px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h5
{
   color: #425D7A;
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited
{
   font-size: 15px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h6
{
   color: #8AA4C0;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited
{
   font-size: 13px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html {
   -ms-text-size-adjust: 100%;
   /* 2 */
    -webkit-text-size-adjust: 100%;
/* 2 */}

body
{
   padding: 0;
   margin:0;
   min-width: 1000px;
   color: #0F1216;
}

.art-header:before,
#art-header-bg:before,
.art-layout-cell:before,
.art-layout-wrapper:before,
.art-footer:before,
.art-nav:before,
#art-hmenu-bg:before,
.art-sheet:before
{
   width: 100%;
   content: " ";
   display: table;
   border-collapse: collapse;
   border-spacing: 0;
}

.art-header:after,
#art-header-bg:after,
.art-layout-cell:after,
.art-layout-wrapper:after,
.art-footer:after,
.art-nav:after,
#art-hmenu-bg:after,
.art-sheet:after,
.cleared, .clearfix:after
{
   clear: both;
   font: 0/0 serif;
   display: block;
   content: " ";
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1
{
   margin:1px;
}
li h2, .art-postcontent li h2, .art-blockcontent li h2
{
   margin:1px;
}
li h3, .art-postcontent li h3, .art-blockcontent li h3
{
   margin:1px;
}
li h4, .art-postcontent li h4, .art-blockcontent li h4
{
   margin:1px;
}
li h5, .art-postcontent li h5, .art-blockcontent li h5
{
   margin:1px;
}
li h6, .art-postcontent li h6, .art-blockcontent li h6
{
   margin:1px;
}
li p, .art-postcontent li p, .art-blockcontent li p
{
   margin:1px;
}


.art-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.art-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.art-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.art-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.art-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 35px;
  left: 50.29%;
  margin-left: -158px !important;
  line-height: 100%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 101;
}

.art-headline,
.art-headline a,
.art-headline a:link,
.art-headline a:visited,
.art-headline a:hover
{
font-size: 28px;
font-family: 'Lucida Sans Unicode', 'Lucida Grande', Arial, Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
letter-spacing: 2px;
text-align: center;
  padding: 0;
  margin: 0;
  color: #B94004 !important;
  white-space: nowrap;
}
.art-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 10px;
  left: 50.19%;
  line-height: 100%;
  margin-left: -100px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 102;
  white-space: nowrap;
}

.art-slogan,
.art-slogan a,
.art-slogan a:link,
.art-slogan a:visited,
.art-slogan a:hover
{
font-size: 18px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-weight: normal;
font-style: italic;
text-decoration: none;
letter-spacing: 2px;
text-align: left;
text-shadow: 1.4px 1.4px 0px rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  color: #7795B6 !important;
}





.art-footer .layout-item-0 { margin-top: 10px;  }
.art-footer .layout-item-1 { border-top-style:solid;border-bottom-style:solid;border-top-width:0px;border-bottom-width:0px;border-top-color:#87A2BF;border-bottom-color:#87A2BF;  }
.art-footer .layout-item-2 { vertical-align: middle;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

.art-header
{
   -webkit-border-radius:10px 10px 0 0;
   -moz-border-radius:10px 10px 0 0;
   border-radius:10px 10px 0 0;
   -webkit-box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.15);
   border:1px solid rgba(140, 222, 222, 0.3);
   margin:3px auto 0;
   background-repeat: no-repeat;
   height: 95px;
   background-image: url('images/object2026325657.png'),url('images/object1114682561.png'), url('images/header.png');
   background-position: 945px 45px,7px 4px, 0 0;
   position: relative;
   width: 1000px;
   z-index: auto !important;
}

.custom-responsive .art-header
{
   background-image: url('images/object1114682561.png'), url('images/header.png');
   background-position: 945px 45px, 0 0;
}

.default-responsive .art-header,
.default-responsive #art-header-bg
{
   background-image: url('images/header.png');
   background-position: center center;
   background-size: cover;
}

.default-responsive .art-main-center .art-header {
   background-image: url('images/logo_48_48.png'), url('images/header.png');
   background-position: 11.94px 7.52px, 0 0;
   background-size: 36px 36px, cover;
}

.default-responsive.responsive-phone .art-main-center .art-header {
   background-image: url('images/header.png');
   background-position: center center;
   background-size: cover;
}

.art-header>.widget
{
   position:absolute;
   z-index:101;
}

.art-header .art-slider-inner
{
   -webkit-border-radius:10px 10px 0 0;
   -moz-border-radius:10px 10px 0 0;
   border-radius:10px 10px 0 0;
}

.art-nav
{
   background: #FFFFFF;
   background: -webkit-linear-gradient(top, rgba(194, 194, 194, 0.7) 0, rgba(235, 235, 235, 0.7) 40%, rgba(240, 240, 240, 0.7) 50%, rgba(240, 240, 240, 0.7) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(194, 194, 194, 0.7) 0, rgba(235, 235, 235, 0.7) 40%, rgba(240, 240, 240, 0.7) 50%, rgba(240, 240, 240, 0.7) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(194, 194, 194, 0.7) 0, rgba(235, 235, 235, 0.7) 40%, rgba(240, 240, 240, 0.7) 50%, rgba(240, 240, 240, 0.7) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(194, 194, 194, 0.7) 0, rgba(235, 235, 235, 0.7) 40%, rgba(240, 240, 240, 0.7) 50%, rgba(240, 240, 240, 0.7) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(194, 194, 194, 0.7) 0, rgba(235, 235, 235, 0.7) 40%, rgba(240, 240, 240, 0.7) 50%, rgba(240, 240, 240, 0.7) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(194, 194, 194, 0.7) 0, rgba(235, 235, 235, 0.7) 40%, rgba(240, 240, 240, 0.7) 50%, rgba(240, 240, 240, 0.7) 100%) no-repeat;
   border-bottom:1px solid #E5E5E5;
   padding:0 3px;
   margin:0 auto;
   position: relative;
   text-align: center;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul
{
   min-height: 0;
}

ul.art-hmenu
{
   display: inline-block;
   vertical-align: bottom;
}

.art-nav:before
{
   content:' ';
}

.desktop .art-nav{
   width: 1000px;
   padding-left: 6px;
   padding-right: 6px;
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 16px;
}
ul.art-hmenu>li:first-child {
   margin-left: 8px;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 8px;
}

ul.art-hmenu>li>a
{
   padding:0 20px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 34px;
   cursor: pointer;
   text-decoration: none;
   color: #2F3944;
   line-height: 34px;
   text-align: center;
}

.art-hmenu>li>a,
.art-hmenu>li>a:link,
.art-hmenu>li>a:visited,
.art-hmenu>li>a.active,
.art-hmenu>li>a:hover
{
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-align: left;
}

ul.art-hmenu>li>a.active
{
   background: #B1DCE7;
   background: -webkit-linear-gradient(top, rgba(146, 206, 221, 0.9) 0, rgba(212, 236, 242, 0.9) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(146, 206, 221, 0.9) 0, rgba(212, 236, 242, 0.9) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(146, 206, 221, 0.9) 0, rgba(212, 236, 242, 0.9) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(146, 206, 221, 0.9) 0, rgba(212, 236, 242, 0.9) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(146, 206, 221, 0.9) 0, rgba(212, 236, 242, 0.9) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(146, 206, 221, 0.9) 0, rgba(212, 236, 242, 0.9) 100%) no-repeat;
   padding:0 20px;
   margin:0 auto;
   color: #B23B00;
   text-decoration: none;
}

ul.art-hmenu>li>a:visited,
ul.art-hmenu>li>a:hover,
ul.art-hmenu>li:hover>a {
   text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   background: #FFAA80;
   background: -webkit-linear-gradient(top, rgba(255, 143, 87, 0.7) 0, rgba(255, 197, 168, 0.7) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(255, 143, 87, 0.7) 0, rgba(255, 197, 168, 0.7) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(255, 143, 87, 0.7) 0, rgba(255, 197, 168, 0.7) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(255, 143, 87, 0.7) 0, rgba(255, 197, 168, 0.7) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(255, 143, 87, 0.7) 0, rgba(255, 197, 168, 0.7) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(255, 143, 87, 0.7) 0, rgba(255, 197, 168, 0.7) 100%) no-repeat;
   padding:0 20px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover,
.desktop ul.art-hmenu>li:hover>a {
   color: #A53700;
   text-decoration: none;
}

ul.art-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -16px;
   width:16px;
   height: 34px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.art-hmenu>li:first-child:before{
   display:none;
}

ul.art-hmenu li li a
{
   background: #A0AEBD;
   background: transparent;
   padding:0 8px;
   margin:0 auto;
}
ul.art-hmenu li li
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop ul.art-hmenu li li ul>li:first-child
{
   margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 28px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 28px;
   color: #4D5E6F;
   font-size: 16px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.art-hmenu ul a:link,
.art-hmenu ul a:visited,
.art-hmenu ul a.active,
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 28px;
   color: #4D5E6F;
   font-size: 16px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
   background: #FFFFFF;
   margin:0 auto;
}
.art-hmenu ul a:hover
{
   text-decoration: none;
   color: #DC4900;
}

.desktop .art-hmenu ul li:hover>a
{
   color: #DC4900;
}

ul.art-hmenu ul:before
{
   background: #CFDAE5;
   border:1px solid #B1C2D5;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop ul.art-hmenu>li>ul
{
   padding: 12px 32px 32px 32px;
   margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul ul
{
   padding: 32px 32px 32px 12px;
   margin: -32px 0 0 -9px;
}

.desktop ul.art-hmenu ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 32px 32px 32px 12px;
   margin: -32px 0 0 -9px;
}

.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 32px 12px 32px 32px;
   margin: -32px -9px 0 0;
}

.desktop ul.art-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop ul.art-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop ul.art-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop ul.art-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop ul.art-hmenu>li>ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop ul.art-hmenu>li>ul.art-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.art-sheet
{
   background: #FFFFFF;
   -webkit-border-radius:0 0 10px 10px;
   -moz-border-radius:0 0 10px 10px;
   border-radius:0 0 10px 10px;
   border:2px solid #F2F2F2;
   border-top:none;
   padding:3px;
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 1000px;
   z-index: auto !important;
}

.art-layout-wrapper
{
   position: relative;
   margin: 3px auto 0 auto;
   z-index: auto !important;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
}

.art-content-layout-row
{
   display: table-row;
}

.art-layout-cell
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: table-cell;
   vertical-align: top;
}

/* need only for content layout in post content */
.art-postcontent .art-content-layout
{
   border-collapse: collapse;
}

.art-block
{
   margin:7px;
}
div.art-block img
{
   border: none;
   margin: 0;
}

.art-blockheader
{
   padding:6px 5px;
   margin:0 auto 2px;
}
.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited,
.art-blockheader .t a:hover
{
   color: #647A90;
   font-size: 26px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 5px;
}

.art-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #28394B;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}
.art-blockcontent table,
.art-blockcontent li,
.art-blockcontent a,
.art-blockcontent a:link,
.art-blockcontent a:visited,
.art-blockcontent a:hover
{
   color: #28394B;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.art-blockcontent p
{
   margin: 0 5px;
}

.art-blockcontent a, .art-blockcontent a:link
{
   color: #FF6619;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
   color: #8DA7C2;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
   color: #E54C00;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}
.art-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .art-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-block li
{
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
   color: #425D7A;
   margin: 5px 0 0 10px;
}

.art-block ul>li, .art-block ol
{
   padding: 0;
}

.art-block ul>li
{
   padding-left: 12px;
}

.art-breadcrumbs
{
   margin:0 auto;
}

a.art-button,
a.art-button:link,
a:link.art-button:link,
body a.art-button:link,
a.art-button:visited,
body a.art-button:visited,
input.art-button,
button.art-button
{
   text-decoration: none;
   font-size: 12px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #0F1216;
   margin: 0 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 20px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.art-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .art-button
{
   display: block;
   float: left;
}

input, select, textarea, a.art-search-button span
{
   vertical-align: middle;
   font-size: 12px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.art-block select
{
   width:96%;
}

input.art-button
{
   float: none !important;
   -webkit-appearance: none;
}

.art-button.active, .art-button.active:hover
{
   background: #FF7835;
   background: linear-gradient(to bottom, rgba(255, 146, 92, 0.7) 0, rgba(255, 95, 15, 0.7) 100%) no-repeat;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   border:1px outset transparent;
   padding:0 5px;
   margin:0 auto;
}
.art-button.active, .art-button.active:hover {
   color: #000000 !important;
}

.art-button.hover, .art-button:hover
{
   background: #AEC0D3;
   background: -webkit-linear-gradient(top, #e9edf1 0, #cfe2f9 100%) no-repeat;
   background: -moz-linear-gradient(top, #e9edf1 0, #cfe2f9 100%) no-repeat;
   background: -o-linear-gradient(top, #e9edf1 0, #cfe2f9 100%) no-repeat;
   background: -ms-linear-gradient(top, #e9edf1 0, #cfe2f9 100%) no-repeat;
   -svg-background: linear-gradient(top, #e9edf1 0, #cfe2f9 100%) no-repeat;
   background: linear-gradient(to bottom, #e9edf1 0, #cfe2f9 100%) no-repeat;
   -webkit-box-shadow:0px 0px 1px 1px inset rgba(234, 109, 18, 0.80);
   -moz-box-shadow:0px 0px 1px 1px inset rgba(234, 109, 18, 0.80);
   box-shadow:0px 0px 1px 1px inset rgba(234, 109, 18, 0.80);
   border:1px outset #536577;
   padding:0 5px;
   margin:0 auto;
}
.art-button.hover, .art-button:hover {
   color: #000000 !important;
}

.art-button.disabled {
   background: linear-gradient(to bottom, #ffffff 0, #D1D1D1 100%) no-repeat !important;
   border: 1px outset #d8d8d8 !important;
   opacity: 0.8 !important;
   color: #6f6f6f !important;
   cursor: default !important;
   pointer-events: none;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   background: #F7F7F8;
   background: -webkit-linear-gradient(top, #E9E9EC 0, #F4F4F6 40%, #F4F4F6 50%, #F4F4F6 100%) no-repeat;
   background: -moz-linear-gradient(top, #E9E9EC 0, #F4F4F6 40%, #F4F4F6 50%, #F4F4F6 100%) no-repeat;
   background: -o-linear-gradient(top, #E9E9EC 0, #F4F4F6 40%, #F4F4F6 50%, #F4F4F6 100%) no-repeat;
   background: -ms-linear-gradient(top, #E9E9EC 0, #F4F4F6 40%, #F4F4F6 50%, #F4F4F6 100%) no-repeat;
   -svg-background: linear-gradient(top, #E9E9EC 0, #F4F4F6 40%, #F4F4F6 50%, #F4F4F6 100%) no-repeat;
   background: linear-gradient(to bottom, #E9E9EC 0, #F4F4F6 40%, #F4F4F6 50%, #F4F4F6 100%) no-repeat;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   border:1px solid #8A9CAE;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   width: auto;
   padding: 4px 0;
   color: #6A2300 !important;
   font-size: 16px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-shadow: none;
}
input.art-error, textarea.art-error
{
   background: #D8E1EA;
   background: -webkit-linear-gradient(top, #CDD8E4 0, #D1DBE6 40%, #D1DBE6 70%, #92AAC4 100%) no-repeat;
   background: -moz-linear-gradient(top, #CDD8E4 0, #D1DBE6 40%, #D1DBE6 70%, #92AAC4 100%) no-repeat;
   background: -o-linear-gradient(top, #CDD8E4 0, #D1DBE6 40%, #D1DBE6 70%, #92AAC4 100%) no-repeat;
   background: -ms-linear-gradient(top, #CDD8E4 0, #D1DBE6 40%, #D1DBE6 70%, #92AAC4 100%) no-repeat;
   -svg-background: linear-gradient(top, #CDD8E4 0, #D1DBE6 40%, #D1DBE6 70%, #92AAC4 100%) no-repeat;
   background: linear-gradient(to bottom, #CDD8E4 0, #D1DBE6 40%, #D1DBE6 70%, #92AAC4 100%) no-repeat;
   border:1px solid #DD2109;
   margin:0 auto;
}
input.art-error, textarea.art-error {
   color: #2B3D51 !important;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search input[type="text"]
{
   background: #FFFFFF;
   border-radius: 0;
   border:1px solid #AEC0D3;
   margin:0 auto;
   width: 100%;
   padding: 3px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #2F3944 !important;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.art-search input, a.art-search-button
{
   -webkit-appearance: none;
   top:0;
   right:0;
}

form.art-search>input, a.art-search-button{
   bottom:0;
   left:0;
   vertical-align: middle;
}

form.art-search input[type="submit"], input.art-search-button, a.art-search-button
{
   border-radius: 0;
   margin:0 auto;
}
form.art-search input[type="submit"], input.art-search-button, a.art-search-button {
   position:absolute;
   left:auto;
   display:block;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
   color: #FFFFFF !important;
   cursor: pointer;
}

a.art-search-button span.art-search-button-text {
   display: none;
}

label.art-checkbox:before
{
   background: #D8E1EA;
   background: -webkit-linear-gradient(top, #D7E0EA 0, #DBE3EB 40%, #DBE3EB 80%, #B6C6D8 100%) no-repeat;
   background: -moz-linear-gradient(top, #D7E0EA 0, #DBE3EB 40%, #DBE3EB 80%, #B6C6D8 100%) no-repeat;
   background: -o-linear-gradient(top, #D7E0EA 0, #DBE3EB 40%, #DBE3EB 80%, #B6C6D8 100%) no-repeat;
   background: -ms-linear-gradient(top, #D7E0EA 0, #DBE3EB 40%, #DBE3EB 80%, #B6C6D8 100%) no-repeat;
   -svg-background: linear-gradient(top, #D7E0EA 0, #DBE3EB 40%, #DBE3EB 80%, #B6C6D8 100%) no-repeat;
   background: linear-gradient(to bottom, #D7E0EA 0, #DBE3EB 40%, #DBE3EB 80%, #B6C6D8 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.25);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.25);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.25);
   border:1px solid #819DBB;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.art-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #2F3944 !important;
}

.art-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
   background: #FF7835;
   background: -webkit-linear-gradient(top, #FF7733 0, #FF7A38 40%, #FF7A38 80%, #FF5805 100%) no-repeat;
   background: -moz-linear-gradient(top, #FF7733 0, #FF7A38 40%, #FF7A38 80%, #FF5805 100%) no-repeat;
   background: -o-linear-gradient(top, #FF7733 0, #FF7A38 40%, #FF7A38 80%, #FF5805 100%) no-repeat;
   background: -ms-linear-gradient(top, #FF7733 0, #FF7A38 40%, #FF7A38 80%, #FF5805 100%) no-repeat;
   -svg-background: linear-gradient(top, #FF7733 0, #FF7A38 40%, #FF7A38 80%, #FF5805 100%) no-repeat;
   background: linear-gradient(to bottom, #FF7733 0, #FF7A38 40%, #FF7A38 80%, #FF5805 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.25);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.25);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.25);
   border:1px solid rgba(197, 66, 0, 0.5);
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-checkbox.hovered:before
{
   background: #BEC8D2;
   background: -webkit-linear-gradient(top, #C0C9D3 0, #C3CCD5 40%, #C3CCD5 80%, #A2B0BE 100%) no-repeat;
   background: -moz-linear-gradient(top, #C0C9D3 0, #C3CCD5 40%, #C3CCD5 80%, #A2B0BE 100%) no-repeat;
   background: -o-linear-gradient(top, #C0C9D3 0, #C3CCD5 40%, #C3CCD5 80%, #A2B0BE 100%) no-repeat;
   background: -ms-linear-gradient(top, #C0C9D3 0, #C3CCD5 40%, #C3CCD5 80%, #A2B0BE 100%) no-repeat;
   -svg-background: linear-gradient(top, #C0C9D3 0, #C3CCD5 40%, #C3CCD5 80%, #A2B0BE 100%) no-repeat;
   background: linear-gradient(to bottom, #C0C9D3 0, #C3CCD5 40%, #C3CCD5 80%, #A2B0BE 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.25);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.25);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.25);
   border:1px solid #6184AA;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-radiobutton:before
{
   background: #D8E1EA;
   background: -webkit-linear-gradient(top, #AFC1D4 0, #FCFCFD 100%) no-repeat;
   background: -moz-linear-gradient(top, #AFC1D4 0, #FCFCFD 100%) no-repeat;
   background: -o-linear-gradient(top, #AFC1D4 0, #FCFCFD 100%) no-repeat;
   background: -ms-linear-gradient(top, #AFC1D4 0, #FCFCFD 100%) no-repeat;
   -svg-background: linear-gradient(top, #AFC1D4 0, #FCFCFD 100%) no-repeat;
   background: linear-gradient(to bottom, #AFC1D4 0, #FCFCFD 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid #758A9F;
   margin:0 auto;
   width:11px;
   height:11px;
   display: inline-block;
   vertical-align: top;
   content: ' ';
}
label.art-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: -1px;
   line-height: 11px;
   display: inline-block;
   color: #0D1218 !important;
   position: relative;
}

.art-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
   background: #FF5F0F;
   background: -webkit-linear-gradient(top, rgba(219, 73, 0, 0.5) 0, rgba(255, 85, 0, 0.5) 35%, rgba(255, 129, 66, 0.5) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(219, 73, 0, 0.5) 0, rgba(255, 85, 0, 0.5) 35%, rgba(255, 129, 66, 0.5) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(219, 73, 0, 0.5) 0, rgba(255, 85, 0, 0.5) 35%, rgba(255, 129, 66, 0.5) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(219, 73, 0, 0.5) 0, rgba(255, 85, 0, 0.5) 35%, rgba(255, 129, 66, 0.5) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(219, 73, 0, 0.5) 0, rgba(255, 85, 0, 0.5) 35%, rgba(255, 129, 66, 0.5) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(219, 73, 0, 0.5) 0, rgba(255, 85, 0, 0.5) 35%, rgba(255, 129, 66, 0.5) 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid #4C6B8C;
   margin:0 auto;
   width:11px;
   height:11px;
   display: inline-block;
}

label.art-radiobutton.hovered:before
{
   background: #AEC0D3;
   background: -webkit-linear-gradient(top, #8BA5C1 0, #D4DEE8 100%) no-repeat;
   background: -moz-linear-gradient(top, #8BA5C1 0, #D4DEE8 100%) no-repeat;
   background: -o-linear-gradient(top, #8BA5C1 0, #D4DEE8 100%) no-repeat;
   background: -ms-linear-gradient(top, #8BA5C1 0, #D4DEE8 100%) no-repeat;
   -svg-background: linear-gradient(top, #8BA5C1 0, #D4DEE8 100%) no-repeat;
   background: linear-gradient(to bottom, #8BA5C1 0, #D4DEE8 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid #FC5400;
   margin:0 auto;
   width:11px;
   height:11px;
   display: inline-block;
}

label.art-radiobutton input[type="radio"]
{
   display: none;
}

label.art-radiobutton.art-checked:after
{
   content: url('images/radiobuttonicon.png');
   position: absolute;
   line-height: 12px;
   left: 0;
   top: 0;
}

.art-comments
{
   border-top:1px dotted #8A9CAE;
   margin:0 auto;
   margin-top: 25px;
}

.art-comments h2
{
   color: #1E252B;
}

.art-comment-inner
{
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:5px;
   margin:0 auto;
   margin-left: 96px;
}
.art-comment-avatar
{
   float:left;
   width:80px;
   height:80px;
   padding:2px;
   background:#fff;
   border:1px solid #C3D0DF;
}

.art-comment-avatar>img
{
   margin:0 !important;
   border:none !important;
}

.art-comment-content
{
   padding:10px 0;
   color: #28394B;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.art-comment
{
   margin-top: 6px;
}

.art-comment:first-child
{
   margin-top: 0;
}

.art-comment-header
{
   color: #1E252B;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.art-comment-header a,
.art-comment-header a:link,
.art-comment-header a:visited,
.art-comment-header a.visited,
.art-comment-header a:hover,
.art-comment-header a.hovered
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.art-comment-header a, .art-comment-header a:link
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #647A90;
}

.art-comment-header a:visited, .art-comment-header a.visited
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #647A90;
}

.art-comment-header a:hover,  .art-comment-header a.hovered
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #647A90;
}

.art-comment-content a,
.art-comment-content a:link,
.art-comment-content a:visited,
.art-comment-content a.visited,
.art-comment-content a:hover,
.art-comment-content a.hovered
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.art-comment-content a, .art-comment-content a:link
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #BC3F00;
}

.art-comment-content a:visited, .art-comment-content a.visited
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #354B62;
}

.art-comment-content a:hover,  .art-comment-content a.hovered
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #BC3F00;
}

.art-pager
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:6px;
   margin:2px;
}

.art-pager>*:last-child
{
   margin-right:0 !important;
}

.art-pager>span {
   cursor:default;
}

.art-pager>*
{
   background: #BEC8D2;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:10px;
   margin:0 4px 0 auto;
   line-height: normal;
   position:relative;
   display:inline-block;
   margin-left: 0;
}

.art-pager a:link,
.art-pager a:visited,
.art-pager .active
{
   line-height: normal;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #13171B
;
}

.art-pager .active
{
   background: #9DACBB;
   padding:10px;
   margin:0 4px 0 auto;
   color: #FFFFFF
;
}

.art-pager .more
{
   background: #BEC8D2;
   margin:0 4px 0 auto;
}
.art-pager a.more:link,
.art-pager a.more:visited
{
   color: #2E0F00
;
}
.art-pager a:hover
{
   background: #A0AEBD;
   padding:10px;
   margin:0 4px 0 auto;
}
.art-pager  a:hover,
.art-pager  a.more:hover
{
   color: #171C20
;
}
.art-pager>*:after
{
   margin:0 0 0 auto;
   display:inline-block;
   position:absolute;
   content: ' ';
   top:0;
   width:0;
   height:100%;
   right: 0;
   text-decoration:none;
}

.art-pager>*:last-child:after{
   display:none;
}

.art-commentsform
{
   background: #C3D0DF;
   background: transparent;
   padding:10px;
   margin:0 auto;
   margin-top:25px;
   color: #1E252B;
}

.art-commentsform h2{
   padding-bottom:10px;
   margin: 0;
   color: #1E252B;
}

.art-commentsform label {
   display: inline-block;
   line-height: 25px;
}

.art-commentsform input:not([type=submit]), .art-commentsform textarea {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width:100%;
   max-width:100%;
}

.art-commentsform .form-submit
{
   margin-top: 10px;
}
.art-post
{
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   padding:5px;
   margin:7px;
}
a img
{
   border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
   border: 0px solid #819DBB;
   margin: 10px 10px 10px 10px;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
}

.art-post .art-content-layout-br
{
   height: 0;
}

.art-article th, .art-article td
{
   padding: 2px;
   border: dotted 1px #A0AEBD;
   vertical-align: top;
   text-align: left;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 10px 10px 10px 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.art-postmetadataheader
{
   background: #EDF6F7;
   background: rgba(237, 246, 247, 0.7);
   border-bottom:1px solid #CBE5E7;
   margin:0 auto;
   position:relative;
   z-index:1;
   padding: 1px;
   margin-bottom: 5px;
}

.art-postheadericon:before
{
   content:url('images/postheadericon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postheadericon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postheader
{
   color: #8E2F00;
   margin: 5px 10px;
   font-size: 20px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
   text-align: center;
}

.art-postheader a,
.art-postheader a:link,
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-size: 20px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
   text-align: center;
}

.art-postheader a, .art-postheader a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #FF5C0B;
}

.art-postheader a:visited, .art-postheader a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #54769B;
}

.art-postheader a:hover,  .art-postheader a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #FF6010;
}

.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-shadow: 0 0 2px rgb(97, 32, 0);
   color: #FFFFFF;
}

.art-postheadericons
{
   padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #FF5C0B;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #4A6989;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: underline;
   color: #D34600;
}

.art-postdateicon:before
{
   content:url('images/postdateicon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postauthoricon:before
{
   content:url('images/postauthoricon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postpdficon:before
{
   content:url('images/postpdficon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postprinticon:before
{
   content:url('images/postprinticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postemailicon:before
{
   content:url('images/postemailicon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postediticon:before
{
   content:url('images/postediticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   letter-spacing: 1px;
   line-height: 150%;
   color: #0F1216;
   margin: 3px 0 0 11px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
   padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   padding-left: 10px;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   margin-left: -10px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
   margin: 1em 0 1em 11px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   margin: 3px 0 0 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #CFDAE5 url('images/postquote.png') no-repeat scroll;
   border:1px dotted #819DBB;
   padding:6px 6px 6px 43px;
   margin:0 0 0 20px;
   color: #0A0E12;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a,
blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link,
blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited,
blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
   color: #0A0E12;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.Sorter img
{
   border:0;
   vertical-align:middle;
   padding:0;
   margin:0;
   position:static;
   z-index:1;
   width: 12px;
   height: 6px;
}

.Sorter a
{
   position:relative;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #576A7D;
}

.Sorter a:link
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #576A7D;
}

.Sorter a:visited, .Sorter a.visited
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #576A7D;
}

.Sorter a:hover, .Sorter a.hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #42505F;
}

.Sorter
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color:#2F3944;
}

.art-footer
{
   background: #FBFEFE;
   background: -webkit-linear-gradient(top, rgba(206, 243, 243, 0.5) 0, rgba(239, 251, 251, 0.5) 90%, rgba(222, 247, 247, 0.5) 90%, rgba(222, 247, 247, 0.5) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(206, 243, 243, 0.5) 0, rgba(239, 251, 251, 0.5) 90%, rgba(222, 247, 247, 0.5) 90%, rgba(222, 247, 247, 0.5) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(206, 243, 243, 0.5) 0, rgba(239, 251, 251, 0.5) 90%, rgba(222, 247, 247, 0.5) 90%, rgba(222, 247, 247, 0.5) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(206, 243, 243, 0.5) 0, rgba(239, 251, 251, 0.5) 90%, rgba(222, 247, 247, 0.5) 90%, rgba(222, 247, 247, 0.5) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(206, 243, 243, 0.5) 0, rgba(239, 251, 251, 0.5) 90%, rgba(222, 247, 247, 0.5) 90%, rgba(222, 247, 247, 0.5) 100%) no-repeat;
   background: linear-gradient(to bottom, rgba(206, 243, 243, 0.5) 0, rgba(239, 251, 251, 0.5) 90%, rgba(222, 247, 247, 0.5) 90%, rgba(222, 247, 247, 0.5) 100%) no-repeat;
   border-top:2px ridge #FFFFFF;
   margin:2px auto 0;
   position: relative;
   color: #54769B;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: center;
   padding: 0;
}

.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover,
.art-footer td,
.art-footer th,
.art-footer caption
{
   color: #54769B;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.art-footer p
{
   padding:0;
   text-align: center;
}

.art-footer a,
.art-footer a:link
{
   color: #698BAE;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:visited
{
   color: #4F6F92;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:hover
{
   color: #FF6619;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-footer h1
{
   color: #758A9F;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer h2
{
   color: #8A9CAE;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer h3
{
   color: #FC5400;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer h4
{
   color: #819DBB;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer h5
{
   color: #819DBB;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer h6
{
   color: #819DBB;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer img
{
   border: none;
   margin: 0;
}

.art-footer-inner
{
   margin: 0 auto;
   width:1000px;
   padding:20px;
   padding-right: 23px;
   padding-left: 23px;
}

.art-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-rss-tag-icon:empty
{
   vertical-align: middle;
}

.art-facebook-tag-icon
{
   background:  url('images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.art-twitter-tag-icon
{
   background:  url('images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.art-tumblr-tag-icon
{
   background:  url('images/tumblricon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-tumblr-tag-icon:empty
{
   vertical-align: middle;
}

.art-pinterest-tag-icon
{
   background:  url('images/pinteresticon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-pinterest-tag-icon:empty
{
   vertical-align: middle;
}

.art-vimeo-tag-icon
{
   background:  url('images/vimeoicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-vimeo-tag-icon:empty
{
   vertical-align: middle;
}

.art-youtube-tag-icon
{
   background:  url('images/youtubeicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-youtube-tag-icon:empty
{
   vertical-align: middle;
}

.art-linkedin-tag-icon
{
   background:  url('images/linkedinicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-linkedin-tag-icon:empty
{
   vertical-align: middle;
}

.art-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .art-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-footer li
{
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #933100;
}

.art-footer ul>li, .art-footer ol
{
   padding: 0;
}

.art-footer ul>li
{
   padding-left: 13px;
}

.art-page-footer,
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #576A7D;
}

.art-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #374D65;
}

.art-lightbox-wrapper
{
   background: #333;
   background: rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   padding: 0 100px;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   z-index: 1000000;
}

.art-lightbox,
.art-lightbox-wrapper .art-lightbox-image
{
   cursor: pointer;
}

.art-lightbox-wrapper .art-lightbox-image
{
   border: 6px solid #fff;
   border-radius: 3px;
   display: none;
   max-width: 100%;
   vertical-align: middle;
}

.art-lightbox-wrapper .art-lightbox-image.active
{
   display: inline-block;
}

.art-lightbox-wrapper .lightbox-error
{
   background: #fff;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 80px;
   opacity: .95;
   padding: 20px;
   position: fixed;
   width: 300px;
   z-index: 100;
}

.art-lightbox-wrapper .loading
{
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 32px;
   opacity: .5;
   padding: 10px;
   position: fixed;
   width: 32px;
   z-index: 10100;
}

.art-lightbox-wrapper .arrow
{
   cursor: pointer;
   height: 100px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   width: 82px;
   z-index: 10003;
}

.art-lightbox-wrapper .arrow.left
{
   left: 9px;
}

.art-lightbox-wrapper .arrow.right
{
   right: 9px;
}

.art-lightbox-wrapper .arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.art-lightbox-wrapper .arrow.disabled
{
   display: none;
}

.art-lightbox-wrapper .arrow-t,
.art-lightbox-wrapper .arrow-b
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   left: 26px;
   position: relative;
   width: 30px;
}

.art-lightbox-wrapper .arrow-t
{
   top: 38px;
}

.art-lightbox-wrapper .arrow-b
{
   top: 50px;
}

.art-lightbox-wrapper .close
{
   cursor: pointer;
   height: 22px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   right: 39px;
   top: 30px;
   width: 22px;
   z-index: 10003;
}

.art-lightbox-wrapper .close:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.art-lightbox-wrapper .close .cw,
.art-lightbox-wrapper .close .ccw
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   position: absolute;
   left: -4px;
   top: 8px;
   width: 30px;
}

.art-lightbox-wrapper .cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.art-lightbox-wrapper .ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.art-lightbox-wrapper .close-alt,
.art-lightbox-wrapper .arrow-right-alt,
.art-lightbox-wrapper .arrow-left-alt
{
   color: #fff;
   display: none;
   font-size: 2.5em;
   line-height: 100%;
}

.ie8 .art-lightbox-wrapper .close-alt,
.ie8 .art-lightbox-wrapper .arrow-right-alt,
.ie8 .art-lightbox-wrapper .arrow-left-alt
{
   display: block;
}

.ie8 .art-lightbox-wrapper .cw,
.ie8 .art-lightbox-wrapper .ccw
{
   display: none;
}

.art-content-layout .art-content
{
   margin:0 auto;
}
.dropbtn {
  border:0;
}

.art-content .art-postcontent-0 .layout-item-0 {
   margin-bottom: 0px;
 }
.art-content .art-postcontent-0 .layout-item-1 {
  border-top-style:solid;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-style:solid;
  border-width:0px;
  border-top-color:#87A2BF;
  border-right-color:#87A2BF;
  border-bottom-color:#87A2BF;
  border-left-color:#87A2BF;
  border-collapse: separate;
}
.art-content .art-postcontent-0 .layout-item-2 {
  color: #0B0D0F;
  background: #FFFFFF;
  padding: 0px;
  vertical-align: middle;
  border-radius: 5px;
}
.ie7 .art-post .art-layout-cell {
  border:none !important;
  padding:0 !important;
}
.ie6 .art-post .art-layout-cell {
  border:none !important;
  padding:0 !important;
}

.art-content-layout-wrapper {
    position: relative;
}

.art-content-layout-wrapper.marked
{
    border-left: 4px solid #FF8F57;
    border-right: 4px solid #FF8F57;
}

.art-content-layout-wrapper.marked:after {
    content: '?';
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    color: #FF8F57;
    border-radius: 50%;
    left: 0;
    top: 0;
    z-index: 999;
    margin-left: -20px;
}

.select-patient{
    position: absolute;
    right: 15px;
    top: 10px;
    text-align: center;
    font-size: 11px;
}
.default-responsive .art-header .select-patient {
    top: 0;
    display: block;
    margin-left: auto;
    width: 26px;
}

.sortable {
   background-position: 5em 50%!important;
 }
 
 .th-inner {
   font: 14px Verdana;
   font-weight: bold;
 }

 .authorized {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma,
 }


 .action:not([data-action=popup]) {
    color:grey!important;
 }

 .action[data-action=popup] {
    cursor: pointer;
 }

 .authorized > a {
     text-decoration: none;
     color: #000000;
 }

 @media (min-width: 1000px) {
    .select-patient {
       bottom: 25px;
    }
 }
/* Begin Additional CSS Styles */

/* End Additional CSS Styles */

.custom-responsive .art-main-center .art-header
{
   background-image: url('images/logo_48_48.png'), url('images/header.png');
   background-size: 36px 36px, auto;
}

.art-main-center .art-postheadericon {
   font-weight: bold;
}

.art-main-center .art-postheadericon:before {
   content: '';
   background: url("images/diag-header-image.png");
   width: 17px;
   height: 16px;
   background-size: contain;
   background-repeat: no-repeat;
   margin-bottom: 0.3rem;
   display: inline-block;
}

.art-main-center .select-patient {
   margin-bottom: 2%;
}

html.static {
   overflow: hidden;
   position: relative;
   height: 100%;
}

html.static body {
   overflow: hidden;
   position: relative;
   height: 100%;
}

#myModal {
    z-index: 300;
}

input.hide-numbers-arrows::-webkit-outer-spin-button,
input.hide-numbers-arrows::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type=number].hide-numbers-arrows {
   -moz-appearance:textfield;
}

.start-diagnosis-process-link {
   position: relative;
   display: inline-block;
   width: 135px;
   height: 58px;
   margin-bottom: 10px;
   background: url("/css/images/clip0119.jpg") 0 0 no-repeat;
}

.start-diagnosis-process-link:before {
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
   background: url("/css/images/clip0120.jpg") 0 0 no-repeat;
   background-size: 135px 58px;
   content: '';
}

.start-diagnosis-process-link:hover:before {
   opacity: 1;
}

.modal-content.add-edit-diagnosis-modal-content {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   margin: 0;
   max-height: 95vh;
   overflow-y: auto;
}

.responsive .modal-content.add-edit-diagnosis-modal-content {
   top: 0;
   margin: 15px 0;
   transform: translate(-50%, 0);
}

.add-edit-diagnosis-modal-content .modal-header {
   font-size: 17px;
   font-weight: bold;
}

.add-edit-diagnosis-modal-content .modal-header .close {
   font-family: Tahoma, Arial, Helvetica, sans-serif;
}

@media (min-width:1000px) {
    .diagnostic-center-header {
        background-position: 11.94px 7.52px, 0px 0px!important;
    }
}

.art-postmetadataheader.clear-style {
   background: none;
   border: none;
}

.art-postmetadataheader.clear-style .art-postheader {
   text-align: left;
}

.analytics-message .art-layout-cell.layout-item-2{
   background: rgba(236, 237, 249, 0.5) !important;
}

#additional_info_container {
    display: none;
}

.additional-info-action.inactive {
    color: grey!important;
}

.additional-info-action:not(.inactive) {
    cursor: pointer;
}

#result-continue-btn {
   margin-right: 15px !important;
}

#result-cancel-btn {
   margin: 8px !important;
}

.art-article-controls {
   display: flex;
   margin: 15px 0;
   padding: 0 10px;
}

.art-article-controls img {
   margin: 0;
   padding: 0;
}

.art-article-controls-pagination {
   display: flex;
}

.art-article-controls-pagination-pages {
   display: flex;
   padding: 3px 20px;
   background: #f9f9f9;
   font-size: 12px;
   color: #8b8b8b;
   font-weight: bold;
}

.art-article-controls-pagination-page-start {
   margin-right: 1px;
}

.art-article-controls-pagination-page-end {
   margin: 0 1px;
}

.art-article-controls-pagination-page-total-count {
   margin-left: 1px;
}

.art-article-controls-pagination-pages-buttons {
   margin-left: 20px;
}

.art-article-controls-pagination-page-prev, .art-article-controls-pagination-page-next {
   border: 0;
   padding: 0;
   margin: 0;
   background: none;
}

.art-article-controls-pagination-page-next {
   margin-left: 15px;
}

.art-article-controls-pagination-page-prev:before, .art-article-controls-pagination-page-next:before {
   border: solid #767676;
   border-width: 0 2px 2px 0;
   display: inline-block;
   padding: 4px;
   cursor: pointer;
   content: '';
}

.art-article-controls-pagination-page-prev[disabled]:before, .art-article-controls-pagination-page-next[disabled]:before {
   border-color: #c6c6c6;
   cursor: default;
}

.art-article-controls-pagination-page-prev:before {
   transform: rotate(135deg);
}

.art-article-controls-pagination-page-next:before {
   transform: rotate(-45deg);
}

.art-article-controls-pagination-pages-go-to {
   margin-left: 28px !important;
   font-size: 11px;
   font-weight: bold;
   color: #7d7577;
   letter-spacing: 0;
}

.art-article-controls-pagination-pages-go-to-input[type="text"] {
   width: 30px;
   padding: 4px 6px;
   background: none;
   color: #767676 !important;
   font-size: 12px;
   box-shadow: inset 1px 1px 1px lightgrey;
}

.art-article-controls-pagination-pages-go-to-button {
   width: 32px;
   height: 24px;
   margin-left: 25px;
}

.art-article-controls-pagination-pages-go-to-button:before {
   border: solid black;
   border-width: 0 2px 2px 0;
   display: inline-block;
   padding: 2px;
   cursor: pointer;
   content: '';
   transform: rotate(-45deg);
}

.art-article-controls-actions {
   margin-left: auto;
   color: rgb(69, 84, 99);
   font-size: 13px;
   display: flex;
   align-items: flex-end;
}

.art-article-controls-actions-title {
   line-height: 1;
}

.art-article-controls-actions-button {
   display: inline-block;
   margin: 0 20px;
   padding: 0;
   border: 1px solid #819DBB;
   text-decoration: none;
}

.art-article-controls .art-article-controls-actions-button:last-child {
   margin-right: 0;
}

.help {
   margin-left: 5px;
   border-radius: 50%;
   cursor: pointer;
   border: 0;
   background: rgba(255, 228, 214, 1);
   color: #8E2F00;
}

.action-button {
   display: inline-block;
   width: 20px;
   height: 20px;
   background-size: 20px 20px;
   cursor: pointer;
   border: 1px solid #819DBB;
   background-position: 50% 50%;
}

.action-button.disabled {
   cursor: default;
}

.action-button-add {
   background-image: url("/css/images/add-2.png");
}
.action-button-add.disabled {
   background-image: url("/css/images/add-gray.png");
}

.action-button-edit {
   background-image: url("/css/images/edit-2.png");
}
.action-button-edit.disabled {
   background-image: url("/css/images/edit-gray.png");
}

.action-button-delete {
   background-image: url("/css/images/delete-2.png");
}
.action-button-delete.disabled {
   background-image: url("/css/images/delet-gray.png");
}

.action-button-analytics {
   background-image: url("/css/images/analytics-2.png");
}
.action-button-analytics.disabled {
   background-image: url("/css/images/analytics-gray.png");
}

.pagination-wrapper {
   background-color: #e6eaee;
   padding-left: 20px;
   padding-right: 20px;
   font-size: 12px;
}


.pagination-wrapper .float-left {
   float: left;
}

.pagination-wrapper .float-right {
   float: right;
}

.pagination-wrapper .btn-group {
   position: relative;
   display: -ms-inline-flexbox;
   display: inline-flex;
   vertical-align: middle;
}
.pagination-wrapper .btn {
   display: inline-block;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
   border-radius: .25rem;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   color: #fff;
   background-color: #6c757d;
   border-color: #6c757d;
   white-space: nowrap;
   position: relative;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   border: 0;
   cursor: pointer;
}
.pagination-wrapper .btn:hover {
   color: #fff;
   background-color: #545b62;
   border-color: #4e555b;
}
.pagination-wrapper .btn:focus {
   box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
}
.pagination-wrapper .btn.dropdown-toggle:after {
   display: inline-block;
   margin-left: .255em;
   vertical-align: .255em;
   content: "";
   border-top: 0;
   border-right: .3em solid transparent;
   border-bottom: .3em solid;
   border-left: .3em solid transparent;
}
.pagination-wrapper .dropdown-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 10rem;
   padding: .5rem 0;
   margin: .125rem 0 0;
   font-size: 1rem;
   color: #212529;
   text-align: left;
   list-style: none;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid rgba(0,0,0,.15);
   border-radius: .25rem;
   margin-top: 0;
   margin-bottom: .125rem;
   right: auto;
   bottom: auto;
}
.pagination-wrapper .dropdown-menu.show {
   display: block;
}
.pagination-wrapper .dropdown-item {
   display: block;
   width: 100%;
   padding: .25rem 1.5rem;
   clear: both;
   font-weight: 400;
   color: #212529;
   text-align: inherit;
   white-space: nowrap;
   background-color: transparent;
   border: 0;
   cursor: pointer !important;
}
.pagination-wrapper .pagination {
   display: -ms-flexbox;
   display: flex;
   padding-left: 0;
   list-style: none;
   border-radius: .25rem;
}

.pagination-wrapper .pagination .page-link {
   position: relative;
   display: block;
   padding: .5rem .75rem;
   margin-left: -1px;
   line-height: 1.25;
   color: #007bff;
   background-color: #fff;
   border: 1px solid #dee2e6;
}

.pagination-wrapper .dropdown-menu a.active {
   color: #fff !important;
   text-decoration: none;
   background-color: #007bff;
}

.pagination-wrapper .pagination {
   margin: 0;
}

.pagination-wrapper .page-item {
   margin: 0;
}

.pagination-wrapper .page-link {
   text-decoration: none;
   color: #2F3944;
   padding: 6px 12px;
   line-height: 1.428571429;
}

.pagination-wrapper .page-item.active .page-link {
   z-index: 1;
   color: #b85507;
   border-color: rgba(212, 236, 242, 0.9);
   background: linear-gradient(to bottom, rgba(146, 206, 221, 0.9) 0,rgba(212, 236, 242, 0.9) 100%) no-repeat;
}

.pagination-wrapper .page-link:focus {
   z-index: 2;
   outline: 0;
   box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.pagination-wrapper .pagination-detail {
   padding-top: 3px;
   padding-bottom: 5px;
}

.pagination-wrapper .btn {
   font-size: 12px;
}

.pagination-wrapper::after {
   content: "";
   display: block;
   clear: both;
}

.pagination-wrapper a, .pagination-wrapper a:visited {
   text-decoration: none !important;
   color: #2F3944 !important;
}

.pagination-wrapper .btn {
   padding: 3px 10px !important;
}

.pagination-wrapper .dropdown-item  {
   line-height: 20px !important;
}


.pagination-wrapper a:hover, .pagination-wrapper .page-item:not(.disabled) .page-link:hover {
   color: #2F3944;
   cursor: default;
   background-color: #fcc8ad;
}

.pagination-wrapper .page-item:not(.disabled) .page-link:hover {
   cursor: pointer;
   background: rgba(255, 228, 214, 0.2);
}

.toggle-button {
    cursor: pointer;
    background-image: url(images/toggle-button.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px!important;
    height: 25px!important;
    flex: 0 0 auto;
}

.toggle-button.disabled {
    background-image: url(images/toggle-button-disabled.png);
}

.toggle-button.disabled.always-filled {
   background-image: url(images/toggle-button.png);
   transform: rotateY(-180deg);
}

.setting-items > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#clasters_view_toggle > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.pagination-wrapper .pagination-info {
   padding-right: 10px;
}

.btn-scale {
   padding-top: 3px;
   padding-bottom: 3px;
   font-size: 15px;
   margin-top: 20px;
}

.clinitian_rated_popup {
   position: relative;
}
.clinitian_rated_popup .close-btn {
   position: absolute;
   right: 0;
   top: 45px;
   margin-top: 0;
   margin-right: 0;
   z-index: 1;
}

#routineModal .art-sheet {
   display: block;
   width: 1000px;
   background-color: #FEFEFE;
   font-size: 16px;
   padding: 40px 0 20px;
   margin: 20px auto 20px auto;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 1px;
   line-height: 150%;
   box-shadow: 0px 0px 10px 2px;
}

#routineModal .close-btn {
   margin-right: 12px;
}

.setting-item-actions {
   display: flex;
}
.setting-item-actions .setting-item-actions-text {
   margin: 0 10px;
}
.setting-item-actions .setting-item-actions-text:last-of-type {
   margin-right: 0;
}

@media all and (max-width: 999px) {
   .art-article-controls {
      display: block;
   }

   .art-article-controls-pagination-pages-go-to {
      margin-left: auto !important;
   }

   .art-article-controls-pagination-pages-go-to-button {
      margin-left: 5px;
   }

   .art-article-controls-actions {
      margin-top: 15px;
   }

   .art-article-controls-actions-button {
      margin: 0 10px;
   }
}
@media all and (max-width: 479px) {
   .art-article-controls-pagination {
      display: block;
   }

   .art-article-controls-pagination-pages-go-to {
      margin-top: 15px !important;
   }

   .art-article-controls-pagination-pages-buttons {
      margin-left: auto;
   }
}

.art-article-controls-actions-button img {
   width: 20px;
   height: 20px;
}

a.art-button.cancel-routine-modal {
   margin-left: 10px !important;
}

#specify-continue-btn {
   margin-right: 10px !important;
}

.modal-centred {
   display: flex;
}

.modal-centred > .modal-content {
   margin: auto;
}

.analytics-list-item-link {
   color: #0F1216 !important;
}

.analytics-list-item-link.inactive {
   color: gray;
}

.analytics-list-item-link:not(.inactive):hover {
   text-decoration: underline;
}