.popup {
    display: none;
    position: fixed;
    z-index: 250;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    overflow-y: auto;
    height: 100%;
    justify-content: unset;
    cursor: unset;
}

.popup .popup-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    background-color: white;
    padding: 15px;
}

.popup.visible {
    display: block!important;
    justify-content: center;
    align-items: center;
}

.popup > .content {
    background-color: white;
}

.popup.backgroundless {
    background-color: unset;
}

html.static {
    overflow: hidden;
    position: relative;
    height: 100%;
}
html.static body {
    overflow: hidden;
    position: relative;
    height: 100%;
}