.inner-panel {
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 7px;
}

.main-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    color: #111418;
    margin: 5px 10px;
    font-size: 2em;
    font-weight: normal;
    font-style: normal;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    text-shadow: 0 1px 3px rgba(145, 50, 3, 0.85);
}

.main-header::before {
    content: url(../../images/records_cabinet/header-icon.png);
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto;
}

#help_button {
    cursor: pointer;
}

.records-panel {
    margin-top: 20px;
}

.table-header {
    text-align: center;
}

.table-header span {
    font-family: Verdana;
    color: rgb(128, 42, 0);
    text-shadow: rgba(23, 23, 23, 0.480469) 0 -1px 1px;
    font-size: 1.6em;
}

.header-wrapper {
    padding: 12px 0;
    border: 1px solid rgb(223, 230, 231);
    border-collapse: separate;
}

.patients-panel .header-wrapper {
    background: rgba(180, 191, 203, 0.6) url(../../images/records_cabinet/records_cabinet/patients-header-bg.png) scroll;
}

.selected-record-panel .header-wrapper {
    background: rgba(180, 191, 203, 0.6) url(../../images/records_cabinet/records_cabinet/records-header-bg.png) scroll;
    border-top: 6px white dotted;
}

.patients-panel .table-header span {
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: 700;
}

.patients-panel .table-header {
    position: relative;
}

.patients-panel .table-header a {
    position: absolute;
    color: black!important;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    right: 30px;
    bottom: 0;
    top: 0;
}

.divider {
    border-top-width: 1px;
    border-top-style: Solid;
    border-top-color: #B4BFCB;
}

.table-wrapper {
    margin: 0 1px;
}

.table-wrapper table {
    width: 100%;
    font-size: 1.2em;
    letter-spacing: 1px;
    border-collapse: collapse;
}

.selected-record-panel table {
    background-color: #fdfff2;
}

.table-wrapper th {
    background-color: rgba(209,217,225,0.5);
}

.table-wrapper td,
.table-wrapper th{
    padding: 3px;
    border-top: solid 1px #B7C2CD;
    border-bottom: solid 1px #B7C2CD;
    border-collapse: collapse;
    line-height: 2.1em;
    vertical-align: top;
    text-align: center;
}

.navigation {
    display: flex;
    margin: 1px;
    padding: 5px;
    align-items: center;
    border: solid 1px #B7C2CD;
    font-size: 0.9em;
}

.navigation > .page-panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 100%;
    margin: 0 3px;
    padding: 5px;
    border: solid 1px #8890cd;
    background-color: #f1f4ff;
}

.navigation > .page-panel > * {
    margin: 0 5px;
}

.navigation .page-panel .page-arrow {
    background: none;
    cursor: pointer;
    border: 0;
    padding: 0;
}

.navigation > .goto-panel {
    border: solid 1px #8890cd;
    background-color: #f1f4ff;
    margin: 0 5px !important;
    padding: 2px 3px 2px 5px !important;
    display: flex;
    align-items: center;
}

.navigation .goto-pagenum {
    width: 50px;
    font-size: inherit;
    height: 20px;
    padding-left: 5px;
}

.navigation > .goto-button {
    line-height: 100%;
    min-width: 25px;
    cursor: pointer;
}

.selected-record-panel .navigation{
    background-color: #fdfff2;
}

.table-wrapper th span {
    color: rgb(168, 56, 0);
}

.table-wrapper tr td:last-child {
    text-align: center;
}

.table-wrapper tr.active {
    background-color: rgba(255, 228, 214, 0.8);
}

.sortable {
    cursor: pointer;
}

.sortable.sort-up::after {
    content: "\f0d8";
    font-family: "Font Awesome 5 Free";
    zoom: 1.5;
    vertical-align: bottom;
    margin-left: 5px;
}

.sortable.sort-down::after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    zoom: 1.5;
    vertical-align: top;
    margin-left: 5px;
}

.action_button {
    position: relative;
}

.action_button > img {
    cursor: pointer;
}

.action_button > img:hover + ul,
.action_button > ul:hover {
    display: block;
}

.action_button > ul {
    display: none;
    position: absolute;
    right: 50%;
    bottom: 75%;
    list-style: none;
    background-color: #f1f4ff;
    border: 1px solid grey;
 }

 .action_button > ul > li {
     cursor: pointer;
     white-space: nowrap;
     text-align: left;
     padding: 7px 7px;
 }

 .action_button > ul a {
    text-decoration: none;
    color: black!important;
 }

.popup-content {
    font-size: 1.4em;
    padding: 20px;
}

#help_popup .close-button-wrapper {
    padding: 20px;
}

.preloader {
    display: none;
}

.height-for-close{
    line-height: 20px;
}

.select-patient-header-footer{
    display: block;
    font-family: Verdana;
    font-weight: bold;
    font-size: 18px;
}
.non-border{
    border:none;
}

#myModal .table-wrapper td, .table-wrapper th {
    font-size: 16px;
}

#goto-btn {
    margin: 0;
}

#patients_table tr {
    cursor: pointer;
}